@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&display=swap');

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

input{
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #26038A;
  border-radius: 10px;
  height: 50px;
  width: 394px;
  left: 64px;
  top: 200px;
}

.input-group{
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.input-group label{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #26038A;
}

.input-each{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

button {
  margin: auto;
  background-color: #1B42A5;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;

  border: none;
  text-align: center;
  cursor: pointer;

  width: 532px;
  height: 40px;
  box-shadow: inset 2px 2px 4px 0px rgb(69 53 104 / 20%);

  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.task {
  min-width: 350px;
  border-bottom: 1px solid rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
}

.icon {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 10px;
}

.trash  {
  color: #f8a02c;
  cursor: pointer;
}

.edit {
  color: #89798b;
  cursor: pointer;

}

.board{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.task-list-red{
  background-color: #FFD0D0;
  width:370px;
  border: 1px solid #D21B1B;
}

.task-list-yellow{
  background-color: #FFFDCE;
  width:370px;
  border: 1px solid #DFD600;
}

.task-list-green{
  background-color: #DFFAE8;
  width:370px;
  border: 1px solid #0CE155;
}

.labelforboard{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #26038A;

  background-color: white;
  border-bottom: 1px solid #26038A;
  margin: 30px;
}

.fazendo{
  margin-top: 0;
  padding-top: 30px;
  background-color: #DFD600;
  height: 76px;
  color: white;
  text-align: center;
}

.afazer{
  margin-top: 0;
  padding-top: 30px;
  background-color: #D21B1B;
  height: 76px;
  color: white;
  text-align: center;
}

.finalizado{
  margin-top: 0;
  padding-top: 30px;
  background-color: #0CE155;
  height: 76px;
  color: white;
  text-align: center;
}

.header{
  margin: 0;
  padding: 0;
  background-color: #26038A;
  background-size: 100%;
  color: white;
  text-align: center;
  height: 100px;
}

.titleheader{
  margin: 0;
  padding-top: 35px;
}

.titletask{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1B42A5;
}

.texttask{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}